<h1>hello there</h1>

<% blogs.forEach((blog) => { %>
    <p><%= blog.title %></p>
    <img src="<%= blog.image %>" alt="">
    <span> <%= blog.created %></span>
    <p><%= blog.body %></p>
<% }); %>

<h1>jhgj</h1>